<template>
    <div id="frame">
            <gmap-autocomplete 
                id="searchbar" 
                ref="searchbar"
                placeholder="Search"
                :value="searchResults"
                @place_changed="setPlace"
                :options="{
                    strictBounds: false
                }">
                >
            </gmap-autocomplete>
            
            <gmap-map id="map" :center="{lat:currentLocation.lat, lng:currentLocation.lng}" :zoom="17" :options="{disableDefaultUI:true}">
                <gmap-marker ref="marker"
                    :position="{lat:currentLocation.lat, lng:currentLocation.lng}"
                    :clickable="true" :draggable="true" @click="toggleInfoWindow()" @dragend=markerMoved
                ></gmap-marker>
                <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                    <a :href="linkurl">Open in maps</a>
                </gmap-info-window>
            </gmap-map>
    </div>
</template>
<style scoped>
#frame {
    margin:0;
    position:fixed;
    width:100%;
    min-height:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#searchbar {
    border: 1px solid lightgrey; 
    border-radius: 6px;
    width:80%; 
    padding: 14px;
    position: absolute;
    top:12px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
}

#map {
width: 100%; 
height: 100%;
}
</style>
<script>
// import VueGoogleAutocomplete from 'vue-google-autocomplete'
export default {
    // components: { VueGoogleAutocomplete },

    data() {
        return {
            currentLocation : { lat : 0, lng : 0},
            searchAddressInput: '',
            linkurl: '',
            infoWindowPos: {
                lat: 0,
                lng: 0
            },
            infoWinOpen: false,
            //optional: offset infowindow so it visually sits nicely on top of our marker
            infoOptions: {
                pixelOffset: {
                    width: 0,
                    height: -35
                }
            },
            searchResults: ''
        }
    },
    
    methods: {
        markerMoved: function(event) {
            // console.log(event.latlng)
            this.update_position({
                    lat: event.latLng.lat(),
                    lng: event.latLng.lng()
                })
        },
        
        toggleInfoWindow: function() {
            // debugger
            let marker = this.$refs.marker
            this.infoWindowPos = marker.position;
            this.infoContent = marker.infoText;

            this.update_position(marker.position)

            this.infoWinOpen = !this.infoWinOpen;
            // //check if its the same marker that was selected if yes toggle
            // if (this.currentMidx == idx) {
              
            // }
            // //if different marker set infowindow to open and reset current marker index
            // else {
            //   this.infoWinOpen = true;
            //   this.currentMidx = idx;
            // }
        },

        update_position: function(position) {
            console.log(position)
            this.currentLocation = position;
            this.linkurl = `https://maps.google.com/maps?ll=${this.currentLocation.lat},${this.currentLocation.lng}&z=17&t=m&mapclient=apiv3`

            // debugger;
            var circle = new google.maps.Circle({
                center: position,
                radius: 50000 // in meters
            });

            this.$refs.searchbar.$autocomplete.setBounds(circle.getBounds());
        },
        
        geolocation : function() {
            navigator.geolocation.getCurrentPosition((position) => {
                // debugger;

                // var geocoder = new google.maps.Geocoder;
                // geocoder.geocode({'location': latlng}, function(results, status) {
                //     if (status === 'OK') {
                //         if (results[0]) {
                //         map.setZoom(11);
                //         var marker = new google.maps.Marker({
                //             position: latlng,
                //             map: map
                //         });
                this.update_position({
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                })
            });
        },

        searchLocation: function() {
            var geocoder = new google.maps.Geocoder();
            console.log(this.searchAddressInput)
            if (!this.searchAddressInput) {
                this.geolocation()
            } else {
                geocoder.geocode({'address': this.searchAddressInput}, (results, status) => {
                    if (status === 'OK') {
                    this.update_position({ 
                        lat: results[0].geometry.location.lat(),
                        lng: results[0].geometry.location.lng()})
                    }
                });
            }
        },

        setPlace(place) {
            this.update_position({
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng(),
            });
        }

    },
    mounted: function() {
        // document.on({ 'DOMNodeInserted': function() { $('.pac-item, .pac-item span', this).addClass('no-fastclick'); } }, '.pac-container'); 
        
        this.$nextTick(function () {
            setTimeout(this.geolocation, 200)

            function callback(e) {
                var e = window.e || e;

                let url = null;
                if (e.target.tagName == 'A')
                    url = e.target.href
                else if (e.target.parentNode.tagName == 'A')
                    url = e.target.parentNode.href
                else 
                    return;

                if (url.indexOf('http') !== 0)
                    return;
                e.preventDefault(); 
                window.open(encodeURI(url), '_system');
                return false
            }

            if (document.addEventListener)
                document.addEventListener('click', callback, false);
        })
    },   


};

</script>
